{% extends 'blog/base.html' %}
{% load static %}
{% block title %}About Page {% endblock title %}
{% block content %}
<div class="col-md-10 col-sm-12 offset-md-1">
    <h3 class='text-white my-5'>About</h3>
    <div class='jumbo-color p-4'>
        <p class='text-justify'>
        Before you begin your assessment, I wanted to point out some helpful links for practice (don't worry about being able to do these exercises, I just want you to be aware of the links so you can visit them later, since we still haven't discussed functions, you won't be able to utilize a lot of these resources yet.
    </p>
    <p class='text-justify'>
        Before you begin your assessment, I wanted to point out some helpful links for practice (don't worry about being able to do these exercises, I just want you to be aware of the links so you can visit them later, since we still haven't discussed functions, you won't be able to utilize a lot of these resources yet.
    </p>
    </div>
    
</div>


{% endblock content %}